:root {
  --color-bg: #000;
  --color-bg-muted: #111;
  --color-surface: #1a1a1a;
  --color-text: #fff;
  --color-text-muted: #999;
  --color-positive: #a3ff12;
  --color-negative: #ff2ed1;
  --color-accent: #0ff;
  --radius: 12px;
}
